# Midterm
Cesar Godoy

## Loading Data

In [1]:
# import packages
import requests
import pandas as pd
import pymongo
import os
from sqlalchemy import create_engine, text
import re

### Loading Data with an API and Pushing to MongoDB
Swagger Documentation: https://dadosabertos.camara.leg.br/swagger/api.htmls

In [2]:
#connect to mongoDB
atlas_cluster_name = "sandbox.zibbf"
atlas_user_name = "root_user"
atlas_password = "Eutocomfome,meuamigo!"

conn_str = {"local" : f"mongodb://localhost:27017/",
    "atlas" : f"mongodb+srv://{atlas_user_name}:{atlas_password}@{atlas_cluster_name}.mongodb.net"
}

print(f"Local Connection String: {conn_str['local']}")

Local Connection String: mongodb://localhost:27017/

In [3]:
# get data through api
base = "https://dadosabertos.camara.leg.br/api/v2"

#create urls
partidos_url = base+"/partidos?itens=100"
eventos_url = base+"/eventos?dataInicio=2023-01-01&dataFim=2023-03-13&ordem=ASC&ordenarPor=dataHoraInicio"
votacoes_url = base+"/votacoes"
legislaturas_url = base+"/legislaturas?itens=100&ordem=DESC&ordenarPor=id"

#make requests
def requireAPIs(url):
    try:
        req = requests.get(url)
        return req.json()['dados']
    except: 
        print(f"couldn't read {url}")
        return False


#push data to mongoDB
files = {("partidos",partidos_url), ("eventos",eventos_url),("votacoes",votacoes_url),("legislaturas",legislaturas_url)}
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
db = myclient["local"]
for name,url in files:
    db.drop_collection(name)
    json_file = requireAPIs(url)
    if(json_file): db[name].insert_many(json_file)
myclient.close()

In [9]:
a = requireAPIs(eventos_url)
b = pd.DataFrame(data=a)
b.head(1)

NameError: name 'eventos' is not defined

### Load Data from File System and Push (Some of it) to MySQL

In [4]:
#connect to mysql
host_name = "localhost"
host_ip = "127.0.0.1"
port = "3306"
user_id = "root_user"
pwd = "Eutocomfome,meuamigo!"
mysql_db = "DadosAbertos_sql"
def createDatabase():
    conn_str = f"mysql+pymysql://{user_id}:{pwd}@{host_name}/sys" #use default sys db to create db I'll use
    sqlEngine = create_engine(conn_str, pool_recycle=3600)
    with sqlEngine.connect() as conn:
        conn.execute(text(f"DROP DATABASE IF EXISTS `{mysql_db}`;"))
        conn.execute(text(f"CREATE DATABASE `{mysql_db}`;"))
        conn.execute(text(f"USE {mysql_db};"))
    
def set_dataframe2(df,db,table_name, db_operation,pk_column):
    conn_str = f"mysql+pymysql://{user_id}:{pwd}@{host_name}/{mysql_db}"
    sqlEngine = create_engine(conn_str, pool_recycle=3600)
    with sqlEngine.connect() as conn:
        if db_operation == "insert": 
            df.to_sql(table_name, con=conn, index=False, if_exists='replace')
            conn.execute(text(f"ALTER TABLE {table_name} ADD PRIMARY KEY ({pk_column})"))
        elif db_operation == "update": 
            df.to_sql(table_name, con=conn, index=False, if_exists='append')
def replaceURIwithID(df):
    return df['uri'].apply(lambda x: int(re.findall(r'[^/]+$', str(x))[0]))

In [5]:
createDatabase()

In [6]:
deputados_df = pd.read_csv("data/deputados.csv",delimiter=";")
deputados_df['uri'] =  replaceURIwithID(deputados_df)
deputados_df.head(1)

,uri,nome,idLegislaturaInicial,idLegislaturaFinal,nomeCivil,cpf,siglaSexo,urlRedeSocial,urlWebsite,dataNascimento,dataFalecimento,ufNascimento,municipioNascimento
0,220593,Abilio Brunini,57,57,ABILIO JACQUES BRUNINI MOUMER,NaN,M,NaN,NaN,1984-01-31,NaN,MT,Cuiabá

In [7]:
set_dataframe2(deputados_df, mysql_db, "deputados", "insert", "uri")

In [8]:
deputadosOcupacoes_df = pd.read_csv("data/deputadosOcupacoes.csv",delimiter=";")
deputadosOcupacoes_df['ind'] = deputadosOcupacoes_df.index
deputadosOcupacoes_df.head(1)

,id,uri,titulo,entidade,entidadeUF,entidadePais,anoInicio,anoFim,ind
0,220712,https://dadosabertos.camara.leg.br/api/v2/depu...,Deputado Estadual,Assembleia Legislativa do Amazonas,AM,BRASIL,2019,2023,0

In [9]:
set_dataframe2(deputadosOcupacoes_df, mysql_db, "deputados_ocupacoes", "insert", "ind")

In [10]:
legislaturasMesas_df = pd.read_csv("data/legislaturasMesas.csv", delimiter=";")
legislaturasMesas_df['ind'] = legislaturasMesas_df.index
legislaturasMesas_df.head(1)

,idOrgao,uriOrgao,siglaOrgao,nomeOrgao,idDeputado,uriDeputado,nomeDeputado,siglaPartido,siglaUF,cargo,dataInicio,dataFim,idLegislatura,ind
0,4,https://dadosabertos.camara.leg.br/api/v2/orga...,MESA,Mesa Diretora da Câmara dos Deputados,73552,https://dadosabertos.camara.leg.br/api/v2/depu...,Michel Temer,PMDB,SP,Presidente,1999-02-02T00:00:00,2001-02-14T23:59:59,51,0

In [11]:
set_dataframe2(legislaturasMesas_df, mysql_db, "legislaturas_mesas", "insert", "ind")

In [12]:
deputadosProfissoes_df = pd.read_csv("data/deputadosProfissoes.csv",delimiter=";")
deputadosProfissoes_df['ind'] = deputadosProfissoes_df.index
deputadosProfissoes_df.head(1)

,uri,id,dataHora,codTipoProfissao,titulo,ind
0,https://dadosabertos.camara.leg.br/api/v2/depu...,224117,NaN,0,NaN,0

In [13]:
set_dataframe2(deputadosProfissoes_df, mysql_db, "deputados_profissoes", "insert", "ind")

In [14]:
frentes_df = pd.read_csv("data/frentes.csv", delimiter=";")
frentes_df.head(1)

,id,uri,titulo,dataCriacao,idLegislatura,telefone,email,keywords,idSituacao,situacao,urlWebsite,urlDocumento,coordenador_id,coordenador_uri,coordenador_nome,coordenador_siglaPartido,coordenador_uriPartido,coordenador_siglaUf,coordenador_idLegislatura,coordenador_urlFoto
0,53249,https://dadosabertos.camara.leg.br/api/v2/fren...,Frente Parlamentar Mista da Habitação,2007-06-11,53,3215-5569,NaN,NaN,NaN,REQ 1113/07\r\n05/06/07 - Apresentação do Requ...,NaN,https://www.camara.leg.br/internet/deputado/Fr...,0,NaN,Fernando Chucre,NaN,NaN,NaN,53,NaN

In [15]:
set_dataframe2(frentes_df, mysql_db, "frentes", "insert", "id")

In [16]:
frentesDeputados_df = pd.read_csv("data/frentesDeputados.csv", delimiter=";")
frentesDeputados_df['ind'] = frentesDeputados_df.index
frentesDeputados_df.head(1)

,id,uri,titulo,deputado_.id,deputado_.uri,deputado_.uriPartido,deputado_.nome,deputado_.siglaUf,deputado_.idLegislatura,deputado_.urlFoto,deputado_.codTitulo,deputado_.titulo,dataInicio,dataFim,ind
0,54296,https://dadosabertos.camara.leg.br/api/v2/fren...,Frente Parlamentar em Defesa do Comércio e Ser...,160758.0,https://dadosabertos.camara.leg.br/api/v2/depu...,https://dadosabertos.camara.leg.br/api/v2/part...,Domingos Sávio,MG,57,https://www.camara.leg.br/internet/deputado/ba...,14,Coordenador,NaN,NaN,0

In [17]:
set_dataframe2(frentesDeputados_df, mysql_db, "frentes_deputados", "insert", "ind")

In [18]:
funcionarios_df = pd.read_csv("data/funcionarios.csv", delimiter=";")
funcionarios_df['ind'] = funcionarios_df.index
funcionarios_df.head(1)

,ponto,codGrupo,grupo,nome,cargo,lotacao,atoNomeacao,dataNomeacao,dataInicioHistorico,dataPubNomeacao,funcao,uriLotacao,ind
0,P_5948,1,Quadro Efetivo - RJU,ABIDERMAN SOUZA CARVALHO,Técnico Legislativo/Agente de Encadernação e D...,DETEC/SADA4 - SEÇÃO DE ADMINISTRAÇÃO DO ANEXO IV,NaN,NaN,1996-11-07,NaN,FC-1 - CHEFE DA SEÇÃO DE ADMINISTRAÇÃO DO ANEX...,NaN,0

In [19]:
set_dataframe2(funcionarios_df, mysql_db, "funcionarios", "insert", "ind")

In [20]:
legislaturas_df = pd.read_csv("data/legislaturas.csv", delimiter=";")
legislaturas_df.head(1)

,idLegislatura,uri,dataInicio,dataFim,anoEleicao
0,57,https://dadosabertos.camara.leg.br/api/v2/legi...,2023-02-01,2027-01-31,2022

In [21]:
set_dataframe2(legislaturas_df, mysql_db, "legislaturas", "insert", "idLegislatura")

### Load Data from File System

In [35]:
licitacoes_df = pd.read_csv("data/licitacoes-2023.csv", delimiter=";")
licitacoes_df.head(1)

,idLicitacao,numero,ano,numProcesso,anoProcesso,objeto,modalidade,tipo,situacao,vlrEstimado,vlrContratado,vlrPago,dataAutorizacao,dataPublicacao,dataAbertura,numItens,numUnidades,numPropostas,numContratos
0,19150,1,2023,790671,2022,"1º Concurso ""Eu e a Lei"" da Rádio Câmara e do ...",Concurso,Não se aplica,Instrumento convocatório publicado,0,0,0,2023-01-18,2023-02-06,NaN,0,0,0,0

In [36]:
licitacoesContratos_df = pd.read_csv("data/licitacoesContratos-2023.csv", delimiter=";")
licitacoesContratos_df.head(1)

,ano,idLicitacao,numContrato,anoContrato,tipoContrato,situacaoContrato,vlrOriginal,vlrTotal,objeto,dataAssinatura,...,dataInicioVigenciaOriginal,dataFimVigenciaOriginal,dataFimUltimaVigencia,fornecedorCpfCnpj,fornecedorNome,fornecedorEndereco,fornecedorCidade,fornecedorSiglaUF,numSeqArquivoInstrContratual,txtNomeArquivo
0,2023,19013,43,2023,Contrato,Pré-cadastrado,19135,19135,Aquisição e instalação de piso tátil de alerta...,NaN,...,NaN,NaN,NaN,30.652.617/0001-52,WALLACE FIDELIS DA CUNHA SILVA,"AV. FRANCISCO LOPES DE ALMEIDA, 2019 - CINZA",CAMPINA GRANDE,PB,NaN,NaN

In [37]:
licitacoesItens_df = pd.read_csv("data/licitacoesContratos-2023.csv", delimiter=";")
licitacoesItens_df.head(1)

,ano,idLicitacao,numContrato,anoContrato,tipoContrato,situacaoContrato,vlrOriginal,vlrTotal,objeto,dataAssinatura,...,dataInicioVigenciaOriginal,dataFimVigenciaOriginal,dataFimUltimaVigencia,fornecedorCpfCnpj,fornecedorNome,fornecedorEndereco,fornecedorCidade,fornecedorSiglaUF,numSeqArquivoInstrContratual,txtNomeArquivo
0,2023,19013,43,2023,Contrato,Pré-cadastrado,19135,19135,Aquisição e instalação de piso tátil de alerta...,NaN,...,NaN,NaN,NaN,30.652.617/0001-52,WALLACE FIDELIS DA CUNHA SILVA,"AV. FRANCISCO LOPES DE ALMEIDA, 2019 - CINZA",CAMPINA GRANDE,PB,NaN,NaN

In [41]:
licitacoesContratos_df = pd.read_csv("data/licitacoesContratos-2023.csv", delimiter=";")
licitacoesContratos_df.head(1)

,ano,idLicitacao,numContrato,anoContrato,tipoContrato,situacaoContrato,vlrOriginal,vlrTotal,objeto,dataAssinatura,...,dataInicioVigenciaOriginal,dataFimVigenciaOriginal,dataFimUltimaVigencia,fornecedorCpfCnpj,fornecedorNome,fornecedorEndereco,fornecedorCidade,fornecedorSiglaUF,numSeqArquivoInstrContratual,txtNomeArquivo
0,2023,19013,43,2023,Contrato,Pré-cadastrado,19135,19135,Aquisição e instalação de piso tátil de alerta...,NaN,...,NaN,NaN,NaN,30.652.617/0001-52,WALLACE FIDELIS DA CUNHA SILVA,"AV. FRANCISCO LOPES DE ALMEIDA, 2019 - CINZA",CAMPINA GRANDE,PB,NaN,NaN

In [42]:
licitacoesPedidos_df = pd.read_csv("data/licitacoesPedidos-2023.csv", delimiter=";")
licitacoesPedidos_df.head(1)

,ano,idLicitacao,tipoRegistro,numPedido,anoPedido,dataHoraCadastro,idOrgao,orgao,objeto,observacoes
0,2023,18685,Pedido,233,2020,2020-07-08 14:33:40.62,100208.0,Departamento de Apoio Parlamentar,Aquisição de grades de proteção/contenção e ba...,Especificação realizada pela servidora Adriana...

In [43]:
licitacoesPropostas_df = pd.read_csv("data/licitacoesPropostas-2023.csv", delimiter=";")
licitacoesPropostas_df.head(1)

,ano,idLicitacao,numItem,descricao,numSubitens,unidadesLicitadas,vlrEstimado,unidadesProposta,vlrProposta,numProposta,marcaProposta,fornecedorCpfCnpj,fornecedorSituacao,dataProposta,diasValidadeProposta,observacoes,urlDocumento
0,2023,18685,1,GRUPO 1 - GRADES DE CONTENÇÃO COM BARRAS DE ES...,3.0,2533,817689,NaN,380692,33837,DESDOBRA,41.928.671/0001-02,Incluído,2023-01-30,60,NaN,NaN

### Fetch MongoDB

In [23]:
def get_mongo_dataframe(connect_str, db_name, collection, query):
    '''Create a connection to MongoDB'''
    client = pymongo.MongoClient(connect_str)
    
    '''Query MongoDB, and fill a python list with documents to create a DataFrame'''
    db = client[db_name]
    dframe = pd.DataFrame(list(db[collection].find(query)))
    dframe.drop(['_id'], axis=1, inplace=True)
    client.close()
    return dframe

In [31]:
eventos_df = get_mongo_dataframe(conn_str["local"],"local","eventos",{})
eventos_df.head(1)

,id,uri,dataHoraInicio,dataHoraFim,situacao,descricaoTipo,descricao,localExterno,orgaos,localCamara,urlRegistro
0,67049,https://dadosabertos.camara.leg.br/api/v2/even...,2023-01-01T15:00,2023-01-01T16:04,Encerrada,Sessão Não Deliberativa Solene,Receber o compromisso e dar posse ao President...,None,"[{'id': 111, 'uri': 'https://dadosabertos.cama...","{'nome': 'Plenário da Câmara dos Deputados', '...",https://www.youtube.com/watch?v=AWy3sI7JqRk

In [32]:
partidos_df = get_mongo_dataframe(conn_str["local"],"local","partidos",{})
partidos_df.head(1)

      id   sigla    nome                                                uri
0  36898  AVANTE  Avante  https://dadosabertos.camara.leg.br/api/v2/part...

In [34]:
votacoes_df = get_mongo_dataframe(conn_str["local"],"local","votacoes",{})
votacoes_df.head(1)

,id,uri,data,dataHoraRegistro,siglaOrgao,uriOrgao,uriEvento,proposicaoObjeto,uriProposicaoObjeto,descricao,aprovacao
0,2320213-54,https://dadosabertos.camara.leg.br/api/v2/vota...,2023-03-09,2023-03-09T12:46:16,PLEN,https://dadosabertos.camara.leg.br/api/v2/orga...,https://dadosabertos.camara.leg.br/api/v2/even...,None,None,Aprovada a Redação Final assinada pelo relator...,1.0

In [33]:
legislaturas_df = get_mongo_dataframe(conn_str["local"],"local","legislaturas",{})
legislaturas_df.head(1)

,id,uri,dataInicio,dataFim
0,57,https://dadosabertos.camara.leg.br/api/v2/legi...,2023-02-01,2027-01-31

In [5]:
votacoesObjetos_df = pd.read_csv("data/votacoesObjetos-2023.csv", delimiter=";")
votacoesObjetos_df.head(1)

,idVotacao,uriVotacao,data,descricao,proposicao_id,proposicao_uri,proposicao_ementa,proposicao_codTipo,proposicao_siglaTipo,proposicao_numero,proposicao_ano,proposicao_titulo
0,2345501-28,https://dadosabertos.camara.leg.br/api/v2/vota...,2023-01-09,Aprovada a Redação Final assinada pelo Relator...,2345502,https://dadosabertos.camara.leg.br/api/v2/prop...,"Requer, nos termos do artigo 155 do Regimento ...",392,REQ,1,2023.0,REQ 1/2023

In [8]:
votacoesVotos_df = pd.read_csv("data/votacoesVotos-2023.csv", delimiter=";")
votacoesVotos_df.head(1)

,idVotacao,uriVotacao,dataHoraVoto,voto,deputado_id,deputado_uri,deputado_nome,deputado_siglaPartido,deputado_uriPartido,deputado_siglaUf,deputado_idLegislatura,deputado_urlFoto
0,2351332-7,https://dadosabertos.camara.leg.br/api/v2/vota...,2023-03-14T18:58:30,Não,220593,https://dadosabertos.camara.leg.br/api/v2/depu...,Abilio Brunini,PL,https://dadosabertos.camara.leg.br/api/v2/part...,MT,57,https://www.camara.leg.br/internet/deputado/ba...